<a href="https://colab.research.google.com/github/sdfxisme/lesson7_files/blob/master/Copy_of_%D0%A4%D0%B5%D0%B2%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9_%D0%BA%D1%83%D1%80%D1%81_Light_Python%2C_%D0%B4%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Домашнее задание 1: Введение в Python

## Light версия

### Задача 1

Считайте с входящей строки два целых числа и выведите их сумму, разность, произведение.

In [5]:
a = int(input())
b = int(input())
print(a+b, a-b, a*b)

3
4
7 -1 12

### Задача 2

Дан ряд целых чисел от 10 до 25 включительно. Используя цикл for выведите на экран сумму двух последовательно идущих чисел.


**Пример**: 

Для ряда от 2 до 6 включительно выдача выглядит так: 

5

7

9

11

In [7]:
for i in range(10,25):
  print(i+i+1)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

### Задача 3

Для ряда целых чисел от 100 до 150 включительно выведите на экран только те, что делятся на 5 без остатка.

In [9]:
for i in range(100,151):
  if i%5 == 0 : print(i)

100
105
110
115
120
125
130
135
140
145
150

### Задача 4

Считайте с входящей строки целое положительное число и сохраните его в переменную N. Используя конструкцию if...else выведите на экран результат в зависимости от условий:

* Если N нечетное, то выведите на экран "N нечетное"
* Если N четное и входит в интервал от 5 до 10 включительно, выведите на экран "N четное и принадлежит интервалу [5, 10]"
* Если N четное и больше 10, выведите на экран "N четное и N > 10"
* Если N четное и меньше 5, выведите на экран "N четное и N < 5"

In [15]:
N = int(input())
if N%2 == 1 : print('N нечетное')
if N%2 == 0 and 5<=N<=10 : print('N четное и принадлежит интервалу [5,10]')
if N%2 == 0 and N>10: print('N четное и N>10')
if N%2 == 0 and N<5: print('N четное и N<5')

8
N четное и принадлежит интервалу [5,10]

### Задача 5

Используя цикл while, посчитайте и выведите на экран сумму всех целых чисел от 15 до 22 включительно.

In [21]:
x=0
n=15
while n<23:
  x+=n
  n+=1
print(x)

148

### Задача 6

Используя цикл for, найдите сумму всех элементов заданного списка. (Без использования встроенных функций sum и т.д.)

In [18]:
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]
x=0
for i in range(0, len(my_list)):
  x+=my_list[i]
print(x)

880

### Задача 7

Используя цикл (любой) найдите значение максимального элемента списка из предыдущего задания. (Без использования встроенных функций max и т.д.) Можно использовать встроенные методы списков (любые). 

P.S.: не стесняйтесь гуглить :)

P.S.2: гуглить нужно фразу "алгоритм поиска максимального элемента массива"

Пример: для списка [3, 4, 1, 7, 2] значением максимального элемента является число 7

In [22]:
x=0
for i in range (0,len(my_list)):
  if my_list[i]>x : x = my_list[i]
print(x)

158

### Задача 8

Создайте словарь, соответствующий следующему описанию: 
    
В честь 8 марта начальник отдела Валера решил принести на работу коробку конфет и угостить коллег :) Красотка Наташа съела две конфеты, ее подруга Алина - целых три, разработчик Марат унес с собой в соседний опен-спейс целых пятнадцать, чтобы поделиться со своей командой, менеджер проекта Лев проходил мимо и съел одну конфету, а сам Валера, будучи сторонником здорового образа жизни, ни съел ни одной.

P.S. все совпадения случайны :)

In [23]:
dict1 = {'Наташа':2, 'Алина':3, 'Марат':15, 'Лев':1, 'Валера':0}
print(dict1)

{'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0}

### Задача 9

Добавьте в словарь из предыдущего задания данные для студента Ромы, который работает неполный рабочий день, и, придя на работу после экзамена, с удовольствием съел 4 конфеты.

P.S. используйте встроенный метод .update

In [24]:
dict2 = {'Рома':4}
dict1.update(dict2)
print(dict1)

{'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0, 'Рома': 4}

## Pro версия

### Задача 1

Выведите на экран следующий паттерн:

@

@ @

@ @ @

@ @ @ @ @

Обратите внимание на пробел между символами

In [25]:
for i in range(1,5):
  print('@ '*i)

@
@ @
@ @ @
@ @ @ @

### Задача 2

Выведите на экран следующий паттерн:

1

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

6 6 6 6

7 7 7

8 8

9

Обратите внимание на пробел между символами

In [26]:
for i in range (1,6): print((str(i)+' ')*i)
for i in range (6,10): print ((str(i)+' ')*(10-i))

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6
7 7 7
8 8
9

### Задача 3

Используя цикл while, выведите на экран таблицу умножения для числа 7.

**Пример:**
    
Для числе 5 выдача выглядит так:
    
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

...

5 * 9 = 45

In [28]:
i = 1
while i<10:
  print('7 * {} = {}'.format(i,7*i))
  i+=1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### Задача 4

Представьте, что вы подбрасываете два кубика одновременно. Считайте с входящей строки два целых числа d1 и d2. Проверьте, соответсуют ли введенные числа интервалу значений для кубика. Если нет, то выведите на экран строку "Ошибка! Значение на кубике (1 или 2, вставьте подходящее значение) не входит в интервал [1, 6]". В противном случае посчитайте сумму выпавших значений. Если сумма равна 7 или 11, выведите на экран "Я победил!!!". Если сумма равна 2, 3 или 12, то выведите на экран "Я проиграл :(". Во всех остальных случаях выведите на экран сумму значений.

In [34]:
d1 = int(input())
if d1<1 or d1>6 : print('Значение на кубике 1 не входит винтервал [1,6]')
d2 = int(input())
if d2<1 or d2>6: print('Значение на кубике 2 не входит в интервал [1,6]')
if d1+d2 == 7 or d1+d2 == 11: print ('Я победил!!!')
elif d1+d2 == 2 or d1+d2 == 3 or d1+d2 == 12: print ('Я проиграл :)')
else: print (d1+d2)

5
6
Я победил!!!

### Задача 5

Напишите код, который ищет все числа в интервале от 3000 до 4300 включительно, делящиеся на 11, но не делящиеся на 5. Выведите на экран все найденные числа.

In [0]:
for i in range(3000, 4301):
  if i%11 == 0 and i%5 != 0: print(i)

### Задача 6

Используя циклы, напишите код, который создает список (list) путем конкатенации значений данного листа с целыми числами от 1 до (произвольного) n включительно.

Пример:

для списка ["сосиски", "горчица"] при n = 3 результат должен выглядеть так:

['сосиски$\_$1', 'горчица$\_$1', 'сосиски$\_2$', 'горчица$\_$2', 'сосиски$\_$3', 'горчица$\_$3']

In [39]:
sample_list = ["мандаринки", "киви", "лимон"]
new_list =[]
for i in range(1,10):
  new_list.append(sample_list[0]+'_'+str(i))
  new_list.append(sample_list[1]+'_'+str(i))
  new_list.append(sample_list[2]+'_'+str(i))
print(new_list)

['мандаринки_1', 'киви_1', 'лимон_1', 'мандаринки_2', 'киви_2', 'лимон_2', 'мандаринки_3', 'киви_3', 'лимон_3', 'мандаринки_4', 'киви_4', 'лимон_4', 'мандаринки_5', 'киви_5', 'лимон_5', 'мандаринки_6', 'киви_6', 'лимон_6', 'мандаринки_7', 'киви_7', 'лимон_7', 'мандаринки_8', 'киви_8', 'лимон_8', 'мандаринки_9', 'киви_9', 'лимон_9']

### Задача 7

Напишите код, который считает количество элементов в заданном списке до тех пор, пока не встретится элемент типа словарь.

Пример:

для списка [3, "котики", 0.45, 5, {'котики' : 2, 'слоники' : 9}, "слоники", 34] на выходе должны получить число 4

In [40]:
list_for_pro_task_2 = [35, 0.24, 3 + 4j, "котики", 0.45, (8, 9), "слоники", {"Мадрид": 3, 'Лондон':5}, 23498]
print(list_for_pro_task_2)
for i in range(0, len(list_for_pro_task_2)):
  if isinstance(list_for_pro_task_2[i],dict):print (i)

[35, 0.24, (3+4j), 'котики', 0.45, (8, 9), 'слоники', {'Мадрид': 3, 'Лондон': 5}, 23498]
7

### Задача 8

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 20 включительно и значениями, соответствующими квадратам ключей. 

P.S. используйте циклы или функции, прямое "ручное" присваивание не допускается (!!!)

Пример: 

для чисел от 1 до 3 включительно словарь должен выглядеть так: {1 : 1, 2 : 4, 3 : 9}

In [45]:
dict7 = {}
for i in range(1,21):
  dict4 = {i:i**2}
  dict7.update(dict4)
print(dict7)  

dict8 ={}
for i in range (1,21):
  dict8[i] = i**2
print(dict8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}